
.post-container {
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.single-thought {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.post-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(171, 169, 169);
  width: 40%;
  font-size: 25px;
}

.card-header h3 {
  margin: 0;
  padding: 10px;
}

.single-post-text {
  background-color: #536878;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 30px;
  color: white;
  width: 40%;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

span {
  color: black;
  font-size: 20px;
}
