.nav-container {
    background-color: #ffffff;
    padding: 10px;
  }
  
  .nav-pills .nav-link {
    color: black;
    font-weight: bold;
  }

  .nav-pills:hover .nav-link:hover {
    background-color: #536878;
    color: white;
  }
  
  .logout-btn {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  